.navbar {

    background-color: #ecc4bc;
    font-weight: 400;
    flex-direction: row-reverse;
    font-size: x-large;
    border-bottom: 5px solid #f09785;

}

.body {
    background-color: bisque;
}
.navbar-brand{
    font-size: 200%;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;

}
.jumbotron{
  padding: 40px; 
  background-image: url(https://miro.medium.com/max/828/0*HHdvPuV6twdFR1wb);
  color: rgb(239, 233, 233); 
  font-family: Inconsolata, sans-serif;
  background-repeat:no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.container-fluid{
 margin: 0;   padding: 0;
}
.mypic{
padding: 8px;
border: #f09785 5px;
border-style: solid;
}
.page-section{
 background-color: #ecc4bc;
 text-align: center; 
}
.display-4{
 font-weight: 800;
 margin: 10px;
}
